{% extends "base.html" %}
{% load static %}


{% block page_header %}
<div class="container header-contianer">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="container mt-5">
    <div class="row">
        <div class="col">
            <h2 class="title-top">
                Favourites
            </h2>
        </div>
    </div>
</div>
{% for item in favourite.watches.all %}
<div class="row">
    <div class="col-2 mb-1">
        {% if item.image %}
        <img src="{{ item.image.url }}" alt="{{ item.image.name }}" class="w-100">
        {% else %}
        <img class="card-img-top img-detail" src="{{ MEDIA_URL }}noimage.png" alt="{{ watch.name }}"></a>
        {% endif %}
        </a>
        <div class="col-7">
            <p class="my-0">
                <strong>{{ item.name }}</strong>
            </p>
            <p class="my-0 small text-muted">Price:{{ item.price }}</p>
        </div>
    </div>
    {% empty %}
    <h3>Your favourite items list is empty</h3>
</div>
{% endfor %}

{% endblock %}