{% extends "base.html" %}
{% load static %}

{% block page_header %}
<div class="container header-container">
    <div class="row">
        <div class="col"></div>
    </div>
</div>
{% endblock %}

{% block content %}
<div class="overlay"></div>
<div class="container-fluid">
    <div class="row">
        <div class="col title-top text-center">
            <h2>Reviews</h2>
            <hr>
            {% if reviews %}
            Number of reviews: {{ reviews|length }}
            {% else %}
            No reviews yet.
            {% endif %}
        </div>
    </div>
    
    <div class="row">
        <div class="container col-10 offset-1">
            <div class="row mt-1 mb-2">
                <div class="col-lg-4 offset-lg-8 col-md-10 my-auto order-md-last d-flex justify-content-center justify-content-md-end">
                    <div class="sort-select-wrapper w-50">
                        <select id="sort-selector" class="custom-select custom-select-sm rounded-0 border border-{% if current_sorting != 'None_None' %}info{% else %}black{% endif %}">
                            <option value="reset" {% if current_sorting == 'None_None' %}selected{% endif %}>Sort by...</option>
                            <option value="created_asc" {% if current_sorting == 'created_asc' %}selected{% endif %}>Created (low to high)</option>
                            <option value="created_desc" {% if current_sorting == 'created_desc' %}selected{% endif %}>Created (high to low)</option>
                            <option value="title_desc" {% if current_sorting == 'title_desc' %}selected{% endif %}>Tiltle (A-Z)</option>
                            <option value="updated_asc" {% if current_sorting == 'updated_asc' %}selected{% endif %}>Updated (A-Z)</option>
                            <option value="updated_desc" {% if current_sorting == 'updated_asc' %}selected{% endif %}>Updated (Z-A)</option>
                            <option value="username_asc" {% if current_sorting == 'username_asc' %}selected{% endif %}>Userame (A-Z)</option>
                            <option value="username_desc" {% if current_sorting == 'name_desc' %}selected{% endif %}>Userame (Z-A)</option>
                        </select>
                    </div>
                </div>
            </div>
            <div class="row">
                {% for review in reviews %}
                <div class="col-sm-6 col-md-6 col-lg-4 col-xl-3">
                    <div class="card h-100 border-0">
                        {% if review.watches.image %}
                        <img class="card-img-top img-fluid" src="{{ review.watches.image.url }}"
                            alt="{{ review.watches.name }}">
                        {% else %}
                        <img class="card-img-top img-fluid" src="{{ MEDIA_URL }}noimage.png"
                            alt="{{ review.watches.name }}">
                        {% endif %}
                        <div class="col">
                            <p class="lead mb-0 text-left font-weight-bold">
                                {{ review.title }}</p>
                        </div>
                        <div class="col">
                            <p class="lead mb-0 text-left font-weight-bold">
                                {{ review.review }}</p>
                        </div>
                        <div class="card-body pb-0">
                            <p class="mb-0">Review posted: {{ review.created }}</p>
                        </div>
                        <div class="card-body pb-0">
                            <p class="mb-0">Updated: {{ review.updated}}</p>
                        </div>

                        <div class="card-footer pt-0 border-0 text-left">
                            <div class="row">
                                <div class="card-body pb-0">
                                    <p class="mb-0">Reviewed by: {{ review.username }}</p>
                                </div>
                            </div>
                        </div>
                        {% if request.user.is_superuser %}
                        <div class="row">
                            <div class="col">
                                <a href="{% url 'update_reviews' review.id %}"
                                    class="btn btn-outline-success rounded-0 ml-5 text-center">Update</a>

                                <a href="{% url 'remove_review' review.id %}"
                                    class="btn btn-outline-danger rounded-0 ml-5 text-center">Remove</a>
                            </div>
                        </div>
                       {% endif %}
                    </div>
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block postload_js %}
<script>
    $('#sort-selector').change(function(){
        var selector = $(this);
        var currentURL = new URL (window.location);

        var selectedVal = selector.val();
        if(selectedVal != 'reset'){
            var sort = selectedVal.split('_')[0];
            var direction = selectedVal.split('_')[1];

            currentURL.searchParams.set('sort', sort);
            currentURL.searchParams.set('direction', direction);

            window.location.replace(currentURL)
        } else {
            currentURL.searchParams.delete('sort');
            currentURL.searchParams.delete('direction');

            window.location.replace(currentURL)
        }

    })
</script>
{% endblock %}