{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-contianer">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay">
        <div class="container logo-font">
            <div class="row">
                <div class="col">
                    <h2 class="logo-font"> Shopping Cart<h2>
                </div>
            </div>

            <div class="row">
                <div class="col">
                    {% if cart_contents %}
                        <div class="table-responsive rounded">
                            <table class="table table-sm-dark table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">Name</th>
                                    <th scope="col">SKU</th>
                                    <th scope="col">Price</th>
                                    <th scope="col">Quantity</th>
                                  </tr>
                            </thead>
                            {% for item in cart_contents %}
                            <tr>
                                <td class="py-3">
                                   <p class="my-0"><strong>{{ item.watch.name }}</strong></p>
                                </td>
                                <td class="py-3">
                                    <p class="my-0"><strong>{{ item.watch.sku|upper }}</strong></p>
                                 </td>
                                 <td class="py-3">
                                    <p class="my-0">&#8364;{{ item.watch.price }}</p>
                                 </td>
                                 <td class="py-3">
                                    <p class="my-0">{{ item.quantity }}</p>
                                 </td>
                                <td class="p-3 w-25">
                                    <img src="{{ item.watch.image.url }}" alt="{{ item.watch.image.name }}" class="">
                                </td>
                            </tr>                            
                            {% endfor %}
                        </table>
                        </div>
                     {% else %}
                        <p class="mb-5">You have no items in your cart</p>
                        <a href="{% url 'watches' %}" class="btn btn-black btn-lg">Continue Exploring</a>
                    {% endif %}
                </div>

            </div>
        </div>
    </div>

{% endblock %}
