* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.home-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}
.vid-overlay {
position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: #b7a90c;
  mix-blend-mode: overlay;
}
.nav-link {
    color: #dd340d!important;
}