* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

/* Used from Boutique Ado project , Bulma */
.icon {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: -webkit-fit-content;
    width: -moz-fit-content;
    width: fit-content;
}

.navbar {
    padding: 0 0.8000000000000007rem !important;
    max-height: 20px;
}

.hero-wrapper {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #111;
    -webkit-transition: 0.5s;
    -o-transition: 0.5s;
    transition: 0.5s;
    z-index: 2;
}

.home-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    -o-object-fit:cover;
       object-fit:cover;
}

.vid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b7a90c;
    mix-blend-mode: overlay;
}

.nav-link {
    color: rgb(235, 19, 19) !important;
}
.page-link {
    background: black!important;
    color: #b6a90c!important;
}
.hero-text {
    position: relative;
    z-index: 10;
}

.hero-text h3 {
    font-size: 5em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    bottom: 50%;
    left: 50%;
}

.hero-text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    -webkit-transition: 0.2s;
    -o-transition: 0.2s;
    transition: 0.2s;
}
.overlay {
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background:#1111;
	z-index: -1;
}
.img-fluid {
    max-width: 100%;
    width: 100%;
    height: 15vw;
    -o-object-fit: contain;
       object-fit: contain;
}
.img-detail{
    max-width: 100%;
    width: 100%;
    height: 38vw;
    -o-object-fit: contain;
       object-fit: contain;
}
.img-detail:hover {
    height: 39vw;
    -webkit-transition: ease-in-out 0.8s;
    -o-transition: ease-in-out 0.8s;
    transition: ease-in-out 0.8s;
}
.header-container {
    padding-top: 134px;
}
#delivery-banner h4 {
    font-size: 1.9rem;
    background-color:#b7a90c;
}
.logo-font {
    margin-top: 3rem;
}
.title-top {
    margin-top: 7rem;
}
.update-link,
.remove-item {
    cursor: pointer;
}
/* Boutique Ado styling  */
.messages-container {
    position: fixed;
    top: 102px;
    right: 15px;
    z-index: 999999999;
}
.custom-toast {
    overflow: visible;
}
.toast-capper {
    height: 2px;
}
/* END of Boutique Ado styling  */

/* Smartphones portrait and landscape orientation  */
@media only screen and (min-width: 320px) and (max-width: 823px) {

    .hero-text h3 {
        font-size: 2.3em;
        font-weight: 700;
        margin-top: 50%;
    }

    .hero-text a {
        font-size: 0.6em !important;
    }

    .navbar-nav {
        display: -ms-flexbox;
        display: -webkit-box;
        display: flex;
        -ms-flex-direction: column;
        -webkit-box-orient: horizontal;
        -webkit-box-direction: normal;
                flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        -ms-flex-line-pack: stretch;
            align-content: stretch;
        -webkit-box-pack: justify;
            -ms-flex-pack: justify;
                justify-content: space-between;
        -webkit-box-align: stretch;
            -ms-flex-align: stretch;
                align-items: stretch;
        -ms-flex-wrap: wrap;
            flex-wrap: wrap;
    }
    .img-fluid {
        height: 58vw!important;
    }
    .mob-nav {
        padding: 10px;
    }
    .title-top {
        margin-top: 13rem;
        font-size: 26px;
    }
    .table td, .table th {
        padding: 2.7px 2px !important
    }
}
/* Boutique Ado styling  */
/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }
    .header-container {
        padding-top: 164px;
    }
}
/* END OF Boutique Ado styling  */

/* search bar animation */
button {
    background:transparent;
    border: none;
}
.search-container{
    background: #fff;
    height: 50px;
    border-radius: 30px;
    padding: 10px 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    cursor: pointer;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;
    -webkit-box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
            box-shadow:  4px 4px 6px 0 rgba(255,255,255,.3),
              -4px -4px 6px 0 rgba(116, 125, 136, .2),
    inset -4px -4px 6px 0 rgba(255,255,255,.2),
    inset 4px 4px 6px 0 rgba(0, 0, 0, .2);
}

.search-container:hover .search-input{
    width: 400px;
    
}
.search-container .search-input{
    background: transparent;
    border: none;
    outline:none;
    width: 0px;
    font-weight: 500;
    font-size: 16px;
    -webkit-transition: 0.8s;
    -o-transition: 0.8s;
    transition: 0.8s;

}

.search-container .search-btn .fas{
    color: #5cbdbb;
}

@-webkit-keyframes hoverShake {
  0% {-webkit-transform: skew(0deg,0deg);transform: skew(0deg,0deg);}
  25% {-webkit-transform: skew(5deg, 5deg);transform: skew(5deg, 5deg);}
  75% {-webkit-transform: skew(-5deg, -5deg);transform: skew(-5deg, -5deg);}
  100% {-webkit-transform: skew(0deg,0deg);transform: skew(0deg,0deg);}
}

@keyframes hoverShake {
  0% {-webkit-transform: skew(0deg,0deg);transform: skew(0deg,0deg);}
  25% {-webkit-transform: skew(5deg, 5deg);transform: skew(5deg, 5deg);}
  75% {-webkit-transform: skew(-5deg, -5deg);transform: skew(-5deg, -5deg);}
  100% {-webkit-transform: skew(0deg,0deg);transform: skew(0deg,0deg);}
}

.search-container:hover{
  -webkit-animation: hoverShake 0.25s linear 3;
          animation: hoverShake 0.25s linear 3;
}

/* Footer section */
.media-links {
    text-decoration: none;
    display: inline-block;
    color: rgb(10 12 16);
}
.media-links:hover {
    color: rgb(10 12 16);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
}
.media-links li a i {
    width: 56px;
    height: 58px;
    padding: 12px;
    border-radius: 50%;
    font-size: 36px;
    line-height: 32px;
    text-align: center;
    color: #282828;
    background-color: #f7ff07;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.media-links li a i:hover {
    background-color: #8a3f29;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
    -webkit-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}
#footer{
    background-color:#b7a90c;
    position: relative;
    bottom: 0;
    width:100%;
    padding: 10px 10px 0px 10px;
    overflow: hidden;
    text-align: center;
}