* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    height: 100%;
    scroll-behavior: smooth;
}

/* Used from Boutique Ado project , Bulma */
.icon {
    align-items: center;
    display: inline-flex;
    justify-content: center;
    height: 1.5rem;
    width: 1.5rem;
}

.main-logo-link {
    width: fit-content;
}

.navbar {
    padding: 0 -1.8000000000000007rem !important;
}

.hero-wrapper {
    position: absolute;
    right: 0;
    width: 100%;
    min-height: 100vh;
    padding: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #111;
    transition: 0.5s;
    z-index: 2;
}

.home-video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
}

.vid-overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b7a90c;
    mix-blend-mode: overlay;
}

.nav-link {
    color: rgb(235, 19, 19) !important;
}

.hero-text {
    position: relative;
    z-index: 10;
}

.hero-text h3 {
    font-size: 5em;
    font-weight: 800;
    color: #fff;
    line-height: 1em;
    text-transform: uppercase;
    text-align: center;
    bottom: 50%;
    left: 50%;
}

.hero-text a {
    display: inline-block;
    font-size: 1em;
    background: #fff;
    padding: 10px 30px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 500;
    margin-top: 10px;
    color: #111;
    letter-spacing: 2px;
    transition: 0.2s;
}
.overlay {
    height: 100%;
	width: 100%;
	top: 0;
	left: 0;
	position: fixed;
	background: white;
	z-index: -1;
}
.img-fluid {
    max-width: 100%;
    height: 29vh;
    width: 100%;
    height: 20vw;
    object-fit: cover;
}
.header-container {
    padding-top: 134px;
}
#delivery-banner h4 {
    font-size: 1.9rem;
    background-color:crimson;
}
.logo-font {
    margin-top: 5rem;
}

/* Smartphones portrait and landscape orientation  */
@media only screen and (min-width: 320px) and (max-width: 823px) {

    .hero-text h3 {
        font-size: 2.3em;
        font-weight: 700;
        margin-top: 50%;
    }

    .hero-text a {
        font-size: 0.6em !important;
    }

    .navbar-nav {
        display: -ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: row;
        padding-left: 0;
        margin-bottom: 0;
        list-style: none;
        align-content: stretch;
        justify-content: space-between;
        align-items: stretch;
        flex-wrap: wrap;
    }
    .img-fluid {
        height: 58vw!important;
    }
}

/* Slightly larger container on xl screens */
@media (min-width: 1200px) {
    .container {
        max-width: 80%;
    }
}

/* fixed top navbar only on medium and up */
@media (min-width: 992px) {
    .fixed-top-desktop-only {
        position: fixed;
        top: 0;
        right: 0;
        left: 0;
        z-index: 1030;
    }

    .header-container {
        padding-top: 164px;
    }
}