
    <div class="row">
      <div class="col-sm-6">
        <h4>Follow us on Social Media <i class="fas fa-users"></i></h4>
        <ul class="media-links">
          <li class="media-links">
            <a href="https://www.facebook.com" aria-label="Follow us on Facebook" rel="noopener" target="_blank"><i
                class="fab fa-facebook"></i></a>
          </li>
          <li class="media-links">
            <a href="https://www.instagram.com" aria-label="Follow us on Instagram" rel="noopener" target="_blank"><i
                class="fab fa-instagram"></i></a>
          </li>
          <li class="media-links">
            <a href="https://www.linkedin.com/in/darko-doban-95822971/" aria-label="Follow us on Linkedin"
              rel="noopener" target="_blank"><i class="fab fa-linkedin"></i></a>
          </li>
          <li class="media-links">
            <a href="https://www.twitter.com" aria-label="Follow us on Twitted" rel="noopener" target="_blank"></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h4>
          Website created by <span>&copy;</span>
          <a href="https://www.linkedin.com/in/goran-kuzma/" class="media-links" aria-label="Link to Linkedin"
            rel="noopener" target="_blank">Goran Kuzma</a>
          <span id="year"></span>
        </h4>
      </div>
    </div>
