
<div class="delivery-area">
  <div class="container">
    <div class="row">
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="mb-50 text-center">
          <div class="service-icon">
            <i class="fas fa-truck"></i>
          </div>
          <h5>Fast &amp; Free Delivery</h5>
          <p>Free delivery on orders over &#8364; 100 </p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="mb-50 text-center">
          <div class="service-icon">
            <i class="fas fa-credit-card"></i>
          </div>
          <h5>Secure Payment</h5>
          <p>Safer, faster, more secure way to pay online</p>
          <div class="service-icon">
            <i class="fab fa-cc-visa"></i>
            <i class="fab fa-cc-stripe"></i>
            <i class="fab fa-cc-mastercard"></i>
            <i class="fab fa-cc-amex"></i>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="mb-50 text-center">
          <div class="service-icon">
            <i class="fas fa-undo-alt"></i>
          </div>
          <h5>Money Back Guarantee</h5>
          <p>When you're not satisfied with purchase</p>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 col-sm-6">
        <div class="mb-50 text-center">
          <div class="service-icon">
            <i class="fas fa-headset"></i>
          </div>
          <h5>Online Support</h5>
          <p>Available online 24/7</p>
        </div>
      </div>
    </div>
  </div>
</div>

    <div class="row">
      <div class="col-sm-6">
        <h4>Follow us on Social Media <i class="fas fa-users"></i></h4>
        <ul class="media-links">
          <li class="media-links">
            <a href="https://www.facebook.com" aria-label="Follow us on Facebook" rel="noopener" target="_blank"><i
                class="fab fa-facebook"></i></a>
          </li>
          <li class="media-links">
            <a href="https://www.instagram.com" aria-label="Follow us on Instagram" rel="noopener" target="_blank"><i
                class="fab fa-instagram"></i></a>
          </li>
          <li class="media-links">
            <a href="https://www.linkedin.com/in/darko-doban-95822971/" aria-label="Follow us on Linkedin"
              rel="noopener" target="_blank"><i class="fab fa-linkedin"></i></a>
          </li>
          <li class="media-links">
            <a href="https://www.twitter.com" aria-label="Follow us on Twitted" rel="noopener" target="_blank"></a>
          </li>
        </ul>
      </div>
      <div class="col-sm-6">
        <h4>
          Website created by <span>&copy;</span>
          <a href="https://www.linkedin.com/in/goran-kuzma/" class="media-links" aria-label="Link to Linkedin"
            rel="noopener" target="_blank">Goran Kuzma</a>
          <span id="year"></span>
        </h4>
      </div>
    </div>
