<div class="collapse navbar-collapse" id="main-nav">
    <ul class="navbar-nav w-auto mx-auto">
        <li class="nav-item dropdown">
            <a class="font-weight-bold nav-link mob-nav mr-5" href="#" id="all-watches" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                All Watches
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="all-watches">
                <a href="{% url 'watches' %}?sort=price&direction=asc" class="dropdown-item">By Price</a>
                <a href="" class="dropdown-item ">By Brand</a>
                <a href="{% url 'watches' %}?sort=sku&direction=asc" class="dropdown-item ">By SKU Number</a>
                <a href="{% url 'watches' %}?sort=rating&direction=desc" class="dropdown-item ">Rating</a>
                <a href="{% url 'watches' %}?sort=category&direction=asc" class="dropdown-item ">By Type</a>
                <a href="{% url 'watches' %}?sort=image&direction=asc" class="dropdown-item ">With The Image</a>
                <a href="{% url 'watches' %}" class="dropdown-item">All Watches</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="mob-nav font-weight-bold nav-link mr-5" href="#" id="for-him" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                For Him
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="for-him">
                <a href="{% url 'watches' %}?category=chronograph" class="dropdown-item">Chronograph</a>
                <a href="{% url 'watches' %}?category=sport_watches" class="dropdown-item">Sport</a>
                <a href="{% url 'watches' %}?category=smartwatch" class="dropdown-item">Smartwatch</a>
                <a href="{% url 'watches' %}" class="dropdown-item">All Watches</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="mob-nav font-weight-bold nav-link  mr-5" href="#" id="for-her" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                For Her
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="for-her">
                <a href="{% url 'watches' %}?category=chronograph_for_her" class="dropdown-item">Chronograph</a>
                <a href="{% url 'watches' %}?category=sport_for_her" class="dropdown-item">Sport</a>
                <a href="{% url 'watches' %}?category=smartwatch_for_her" class="dropdown-item">Smartwatch</a>
                <a href="{% url 'watches' %}" class="dropdown-item">All Watches</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <a class="mob-nav font-weight-bold nav-link" href="#" id="gift-cards" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Gift Cards & Deals
            </a>
            <div class="dropdown-menu border-0" aria-labelledby="gift-cards">
                <a href="{% url 'watches' %}?category=gift_card_twenty" class="dropdown-item">&#8364;20</a>
                <a href="{% url 'watches' %}?category=gift_card_fifty" class="dropdown-item">&#8364;50</a>
                <a href="{% url 'watches' %}?category=gift_card_hundred" class="dropdown-item">&#8364;100</a>
                <a href="{% url 'watches' %}?category=on_sale" class="dropdown-item">On Sale</a>
            </div>
        </li>
    </ul>
</div>
