{% load static %}
<!doctype html>
<html lang="en">

    <head>
        {% block meta %}
            <meta http-equiv="X-UA-Compatible" content="IE=edge">
            <meta charset="utf-8">
            <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
            <link rel="icon" type="image/png" sizes="32x32" href="{% static 'favicon/favicon.png' %}"/>
        {% endblock %}

        {% block extra_meta %}{% endblock %}

        <!-- Bootstrap CSS -->
        {% block corecss %}
            <link rel="preconnect" href="https://fonts.googleapis.com">
            <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
            <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
            <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.6.3/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous"/>
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
            <!-- Amnimate CSS -->
            <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.0.0/animate.min.css" />
            <link rel="stylesheet" href="{% static 'css/style.css' %}">

        {% endblock %}

        {% block extra_css %}{% endblock %}

        {% block corejs %}
            <script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>           
            <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
            <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
            <!-- Stripe -->
            <script src="https://js.stripe.com/v3/"></script>
        {% endblock %}

        {% block extra_js %}{% endblock %}

        <title>Kuzco
            {% block extra_title %}{% endblock %}
        </title>
    </head>

    <body>

        <header class="container-fluid fixed-top-desktop-only">
            <div id="delivery-banner" class="row text-center">
                <div class="col bg-black text-white">
                    <h4 class="logo-font my-1">Free delivery on orders over &#8364;{{ free_delivery_treshold }}! <a class="shop-now" href="{% url 'watches' %}"> Shop Now </a> </h4>
                </div>
            </div>
            <div id="topnav" class="row pt-lg-2 d-none d-lg-flex">
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0 text-center text-lg-left">
                    <a href="{% url 'home' %}" class="nav-link main-logo-link">
                        <img src="{% static 'favicon/favicon.png' %}" alt="Favicon" height='80'/>
                    </a>
                </div>
                <div class="search-container">
                    <form method="GET" action="{% url 'watches' %}">
                        <input class="search-input" type="text" name="query" placeholder="Search our site">
                        <button class="search-btn btn-outline" type="submit">
                            <i class="fas fa-search"></i>
                        </button>
                    </form>
                </div>
                <div class="col-12 col-lg-4 my-auto py-1 py-lg-0">
                    <ul class="list-inline list-unstyled text-center text-lg-right my-0">
                        <li class="list-inline-item dropdown">
                            <a class="nav-link" href="#" id="user-options" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                <div class="text-center">
                                    <div>
                                        <i class="fas fa-user fa-lg"></i>
                                    </div>
                                    <p class="my-0">My Account</p>
                                </div>
                            </a>
                            <div class="dropdown-menu border-0" aria-labelledby="user-options">
                                {% if request.user.is_authenticated %}
                                    {% if request.user.is_superuser %}
                                        <a href="{% url 'add_watch' %}" class="dropdown-item">Admin Dashboard</a>
                                    {% endif %}
                                    <a href="{% url 'profile' %}" class="dropdown-item">My Profile</a>
                                    <a href="{% url 'account_logout' %}" class="dropdown-item">Logout</a>
                                    <a href="{% url 'reviews_total' %}" class="dropdown-item">Reviews</a>
                                {% else %}
                                    <a href="{% url 'account_signup' %}" class="dropdown-item">Register</a>
                                    <a href="{% url 'account_login' %}" class="dropdown-item">Login</a>
                                {% endif %}
                            </div>
                        </li>
                        <li class="list-inline-item">
                            <a class="{% if grand_total %}text-info font-weight-bold{% else %}text-black{% endif %} nav-link" href="{% url 'shopping_cart' %}">
                                <div class="text-center">
                                    <div>
                                        <i class="fas fa-shopping-cart fa-lg">
                                            <span class="badge">{{ product_count }}</span></i>
                                    </div>
                                    <p class="my-0">
                                        {% if grand_total %}
                                            &#8364;
                                            {{ grand_total|floatformat:2 }}
                                        {% else %}
                                            &#8364;0.00
                                        {% endif %}
                                    </p>                           
                                </div>
                            </a>
                           
                        </li>
                    </ul>
                </div>
                {% if messages %}
                <div class="messages-container">
                    {% for message in messages %}
                      {% with message.level as level %}
                        {% if level == 40 %}
                             {% include 'includes/messages/error_message.html' %}
                         {% elif level == 30 %}
                             {% include 'includes/messages/warning_message.html' %}            
                         {% elif level == 25 %}
                            {% include 'includes/messages/success_message.html' %}
                        {% else %}
                            {% include 'includes/messages/info_message.html' %}
                        {% endif %}
                     {% endwith %}
                    {% endfor %}
                </div>
            {% endif %}
            </div>
            <div class="row">
                <nav class="navbar navbar-expand-lg w-100">
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                        <span>
                            <i class="fas fa-equals"></i>
                        </span>
                    </button>
                    {% include 'includes/mobile-nav.html' %}
                    {% include 'includes/navbar.html' %}
                </nav>
            </div>
        </header>
        
        {% block page_header %}{% endblock %}

        {% block content %}{% endblock %}

         <!-- Newsletter  -->
    <div class="container">
        <div class="row">
            <div class="col-xxl-3 col-xl-3 col-lg-4">
                <div class="subscribe">
                    <h3>Subscribe Newsletter</h3>
                    <p>Subscribe newsletter to get 5% on all products.</p>
                </div>
            </div>
            <div class="col-xxl-5 col-xl-6 col-lg-7 col-md-9">
                <div class="subscribe">
                    <form id="form">
                        <label for="from_email"></label>
                        <input type="text" placeholder="Enter your email" class="subscribe-form" name="from_email"
                            id="from_email">
                        <input type="submit" id="button" class="subscribe-btn" value="Subscribe">
                    </form>
                </div>
            </div>
        </div>
    </div>

    <!-- END of Newsletter  -->

<!-- Footer -->
        <footer id="footer" class="container-fluid">
            {% include 'includes/footer.html' %}
        </footer>

        {% block postload_js %}
        <script type="text/javascript">
            $('.toast').toast('show');
        </script>

        <!-- EmailsJS Required Javascript -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/emailjs-com@3/dist/email.min.js"></script>

    <script type="text/javascript">
        emailjs.init('user_AKMpib1d7UzETb4pKjz1O')
    </script>

    <script>
        const btn = document.getElementById('button');

        document.getElementById('form')
            .addEventListener('submit', function (event) {
                event.preventDefault();

                btn.value = 'Sending...';

                const serviceID = 'service_lym8jev';
                const templateID = 'template_xtu3dol';

                emailjs.sendForm(serviceID, templateID, this)
                    .then(() => {
                        btn.value = 'Subscribe';
                        swal({
                            title: "Subscribed!",
                            text: "Thank you for subscrition!",
                            icon: "success",
                            button: "Cool,thanks!",
                        });
                        form.reset();
                    }, (err) => {
                        btn.value = 'Subscribe';
                        console.log(JSON.stringify(err));
                        swal("Apologies!", "Something went wrong!", "error");
                    });
            });
    </script>

        <!-- Sweet ALerts :https://sweetalert.js.org/guides/  -->
        <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>

        {% endblock %}

    </body>

</html>
