{% extends "base.html" %}
{% load static %}

{% block page_header %}
    <div class="container header-container">
        <div class="row">
            <div class="col"></div>
        </div>
    </div>
{% endblock %}

{% block content %}
    <div class="overlay"></div>
    <div class="container-fluid">
        <div class="row">
            <div class="col-12 col-md-6 col-lg-4 offset-lg-2">
                {% if watch_detail.image %}
                <a href="{% url 'watches' %}" class="btn btn-outline-secondary btn-small text-uppercase rounded-0 mt-5">
                    <span> &#8592; Back Shopping</span>
                </a>
                    <a href="">
                        <img class="card-img-top animate__animated animate__backInDown img-detail" src="{{ watch_detail.image.url }}" alt="{{ watch_detail.name }}"></a>
                    {% else %}
                        <a href="">
                            <img class="card-img-top img-detail" src="{{ MEDIA_URL }}noimage.png" alt="{{ watch_detail.name }}"></a>
                        {% endif %}
                    </div>
                    <div class="col-12 col-md-6 col-lg-4">
                        <div class="product-details-container animate__animated animate__fadeInRightBig animate__delay-1s mb-5 mt-md-5">
                            <p class="mb-0">{{ watch_detail.name}}</p>
                            <p class="lead mb-0 text-left font-weight-bold">&#8364;{{ watch_detail.price }}</p>
                            {% if watch_detail.rating %}
                                <small class="text-muted">
                                    <i class="fas fa-star mr-1"></i>
                                    {{ watch_detail.rating }}
                                    / 5</small>
                            {% else %}
                                <small class="text-muted">No Rating</small>
                            {% endif %}
                            {% if request.user.is_superuser %}
                                <small class="ml-3">
                                    <a href="{% url 'update_watches' watch_detail.id %}"><i class="far fa-edit"></i> Update|</a>
                                    <!-- Button trigger modal -->
                                    <button type="button" class="text-danger" data-toggle="modal" data-target="#delete_watch">
                                        <i class="far fa-trash-alt"></i> Delete
                                    </button>
                                </small>
                              
                                {% endif %}
                            <p class="mt-3">{{ watch_detail.description }}</p>
                            <form action="{% url 'add_to_cart' watch_detail.id %}" method="POST" class="form">
                                <!-- token required for cross-site request forgery (method POST) -->
                                {% csrf_token %}
                                <div class="form-row">
                                    <div class="col-12">
                                        <p class="mt-3"><strong>Quantity: </strong></p>
                                        <div class="form-group w-50">
                                            <div class="input-group">
                                                <div class="input-group-prepend">
                                                    <button class="decrement-qty btn rounded-0" 
                                                        data-item_id="{{ watch_detail.id }}" id="decrement-qty_{{ watch_detail.id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-minus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                                
                                                <input type="number" class="form-control qty_input" name="quantity" value="1" min="1" max="99" data-item_id={{ watch_detail.id }} id="id_qty_{{ watch_detail.id }}">

                                                <div class="input-group-append">
                                                    <button class="increment-qty btn  rounded-0"
                                                        data-item_id="{{ watch_detail.id }}" id="increment-qty_{{ watch_detail.id }}">
                                                        <span class="icon">
                                                            <i class="fas fa-plus"></i>
                                                        </span>
                                                    </button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-12">                               
                                        <input type="submit" class="btn cust-button text-uppercase rounded-0 mt-5" value="Add to Cart">
                                        {% if request.user.is_authenticated %}
                                            <a href="{% url 'add_favourites' watch_detail.id %}" class="btn cust-button rounded-0 mt-5"><i class="far fa-heart"></i></a>
                                         {% endif %}
                                    </div>
                                    <input type="hidden" name="redirect_url" value="{{ request.path }}">
                                </div>
                                <a href="{% url 'add_reviews' %}" class="btn cust-button-gold text-uppercase rounded-0 mt-5">
                                    <span class="icon">
                                        <i class="fas fa-chevron"></i>
                                    </span>
                                    <span>Submit Your Review &#x27BA;</span>
                                </a>
                                
                            </form>
                        </div>
                        
                    </div>
                </div>
            </div>

              <!-- Modal -->
              <div class="modal fade" id="delete_watch" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel"
              aria-hidden="true">
              <div class="modal-dialog" role="document">
                  <div class="modal-content">
                      <div class="modal-header">
                          <h5 class="modal-title" id="exampleModalLabel">Confirmation</h5>
                          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                              <span aria-hidden="true">&times;</span>
                          </button>
                      </div>
                      <div class="modal-body">
                          Confirm you want to remove this item?
                      </div>
                      <div class="modal-footer">
                          <button type="button" class="text-warning" data-dismiss="modal"><i class="far fa-window-close"></i>
                              Cancel|</button>
                          <a href="{% url 'remove_watches' watch_detail.id %}" class="text-danger"> <i class="far fa-trash-alt"></i> Delete</a>
                      </div>
                  </div>
              </div>
          </div>
        {% endblock %}

        {% block postload_js %}
        {{ block.super }}
        {% include 'watches/includes/qty_js.html' %}
        {% endblock %}